/* Base Global Styles */
:root {
    --fs-xs: 13px;
    --fs-sm: 14px;
    --fs-base: 16px;
    --fs-base-lg: 18px; 
    --fs-md: 20px;
    --fs-lg: 25px;
    --fs-xl: 31px;
    --fs-xxl: 39px;
    --fs-hero: 49px;
    
    --dark-brown: #432820;
    --dark-gray-brown: #99582a;
    --gray-orange: #b28b4e;
    --light-orange: #ffe6a7;
    --bg-cream: #ffefc8;
    --bg-sidebar: #c69c64;
    --bg-header: #8f5c36;
    --bg-footer: #8f5c36;
    
    --font-main: 'Bright Chalk', cursive;
    --secondary-font: 'Nunito', sans-serif;
}

@font-face {
    font-family: 'Bright Chalk';
    src: url(../html-with-css/assets/fonts/Bright-Chalk/Bright\ Chalk.ttf) format('truetype'),
        url(../html-with-css/assets/fonts/Bright-Chalk/Bright\ Chalk.woff) format('woff');
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: 'Nunito';
    src: url(../html-with-css/assets/fonts/Nunito-Regular/Nunito\ Regular.ttf) format('truetype'),
        url(../html-with-css/assets/fonts/Nunito-Regular/Nunito\ Regular.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    overflow: hidden;
    font-family: var(--font-main);
    color: var(--dark-brown);
}

.section-title {
    font-family: var(--font-main);
    font-size: var(--fs-hero);
    margin: 40px 0 20px 0;
    text-align: center;
    color: var(--dark-brown);
}

.divider {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.divider img {
    width: 600px;     
    max-width: 100%;  
    height: auto;
    opacity: 0.8;     
}

